node_modules
.env
build/*
*.js
.idea
config/default.json
config/Config.d.ts
build
Kexa/rules/aws-tests.yaml
config_kuber
eastern-rider-263712-9376010a1184.json
config/addOnNeed.json
config/headers.json
config_kuber
output/*