name: Push on Docker Registry (Dev)

on:
  push:
    branches:
      - dev
    paths-ignore:
      - "package.json"
      - "CHANGELOG.md"
  workflow_dispatch:

permissions:
  contents: read

jobs:
  ci:
    runs-on: ubuntu-latest
    environment: dev
    permissions:
      pull-requests: write
      contents: write
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Verify Bun Installation
        run: |
          echo "Bun version: $(bun --version)"

      - name: Install Dependencies
        run: bun i

      - name: Run tests
        run: bun run test

      - name: Get latest release version
        uses: rez0n/actions-github-release@794c12f5e8d629e6ca329cf2e2daeb0f0ce6a3ce # main
        id: get_latest_release
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          repository: "kexa-io/Kexa"
          type: "stable"

      - name: Print New Latest Version
        run: echo ${{ steps.get_latest_release.outputs.release }}


      - name: Login to Docker Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.DOCKER_REGISTRY_NAME}}
          username: ${{ secrets.DOCKER_REGISTRY_USERNAME_KEXA }}
          password: ${{ secrets.DOCKER_REGISTRY_PASSWORD_KEXA }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Push on Docker Registry
        uses: docker/build-push-action@v6
        with:
          file: Dockerfile
          context: ./
          push: true
          tags: |
            ${{ secrets.DOCKER_REGISTRY_NAME}}/kexa/kexa-dev:${{ steps.get_latest_release.outputs.release }}
            ${{ secrets.DOCKER_REGISTRY_NAME}}/kexa/kexa-dev:latest
          platforms: linux/amd64,linux/arm64

